@charset "UTF-8";

.button-loading,
.button-loading:hover,
.button-loading:active {
  color: transparent !important;
  transition: color 0s !important;
}

.button-loading::after {
  content: "\F0772";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);
  -webkit-animation: button-loading 2s linear infinite;
          animation: button-loading 2s linear infinite;
  font: normal normal normal 24px/1 "Material Design Icons";
  display: inline-block;
  color: #fff;
}

@-webkit-keyframes button-loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes button-loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.dashboard-contact-img {
  width: 36px;
  padding: 5px;
}

.tab-content {
  border-left: 1px solid #f2f2f7;
  border-right: 1px solid #f2f2f7;
  border-bottom: 1px solid #f2f2f7;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 300px;
}

.image-wrapper img {
  position: relative;
  z-index: 3;
  transition: all 0.3s ease;
}

.image-wrapper-back {
  position: absolute;
  z-index: 2;
  background-color: #eee;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.image-wrapper-back-actions {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.image-wrapper-back-actions a,
.image-wrapper-back-actions button,
.image-wrapper-back-actions form {
  display: inline-block;
  border: 0;
}

.image-wrapper-back-actions .show-icon {
  margin-right: 4px;
}

.image-wrapper-back-actions .show-icon,
.image-wrapper-back-actions .delete-icon {
  width: 30px;
  height: 30px;
  border-radius: 0;
  padding: 0;
  line-height: 31px;
}

.admin-footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: transparent;
  padding: 0.625rem 1.5rem;
  height: unset;
  color: #abb9e8;
  border-top: 1px solid;
}

.page-content {
  padding-bottom: 0 !important;
}

.image-wrapper:hover img {
  transform: translateY(-50px);
}

.border-left-no-radius {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

html[data-sidebar-size=sm-hover] .navbar-menu:not(:hover) .navbar-brand-box {
  padding-left: 0;
  padding-right: 0;
}

