//$primary: #d4455d;
//$demi: #e64a39;

// Button Loading Effect
.button-loading, .button-loading:hover, .button-loading:active {
    color: transparent !important;
    transition: color 0s !important;
}
.button-loading::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    border: 3px dashed #fff;
    border-radius: 50%;
    animation: button-loading 3s linear infinite;
}
@keyframes button-loading {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.dashboard-contact-img {
    width: 36px;
    padding: 5px;
}

.tab-content{
    border-left: 1px solid #f2f2f7;
    border-right: 1px solid #f2f2f7;
    border-bottom: 1px solid #f2f2f7;
}

.image-wrapper{
    position: relative;
    overflow: hidden;
    max-width: 300px;
    img{
        position: relative;
        z-index: 3;
        transition: all .3s ease;
    }
    &-back{
        position: absolute;
        z-index: 2;
        background-color: #282727;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        &-actions{
            position: absolute;
            bottom: 12px;
            left: 50%;
            transform: translateX(-50%);
            a, button, form{
                display: inline-block;
                border: 0;
            }
            .show-icon{
                padding: 3px 6px;
                background-color: #4c87b9;
                color: #fff;
            }
            .delete-icon{
                padding: 3px 8px;
                background-color: #e7505a;
                color: #fff;
            }
        }
    }
}

.image-wrapper:hover{
    img{
        transform: translateY(-50px);
    }
}

.border-left-no-radius {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

html[data-sidebar-size="sm-hover"] .navbar-menu:not(:hover) .navbar-brand-box {
    padding-left: 0;
    padding-right: 0;
}
